<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>nuevoProducto</servlet-name>
        <servlet-class>Servlet.nuevoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarProducto</servlet-name>
        <servlet-class>Servlet.buscarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Servlet.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>Servlet.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejoVentas</servlet-name>
        <servlet-class>Servlet.ManejoVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejoClientes</servlet-name>
        <servlet-class>Servlet.ManejoClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejoProductos</servlet-name>
        <servlet-class>Servlet.ManejoProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nuevoProducto</servlet-name>
        <url-pattern>/nuevoProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarProducto</servlet-name>
        <url-pattern>/buscarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejoVentas</servlet-name>
        <url-pattern>/ManejoVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejoClientes</servlet-name>
        <url-pattern>/ManejoClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejoProductos</servlet-name>
        <url-pattern>/ManejoProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
